html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: url(http://nzalaw.com/images/nza_background.jpg);
}

/* div .main-container */



.main {
  max-width: 828px;
  min-width:828px;
  margin: 0 auto 0 auto;
}

.block {
  display: block;
}

.container {
    padding: 0 32px 0 32px;
    box-shadow: 0px 10px 20px #888;
    width: 920px;
}

.main-body {
  max-width: 920px;
  min-width: 920px;
  margin: auto;


}

.banner {
  padding: 48px 0 16px 36px;
}


/* nav */

nav hr {
  padding:0;
  margin:4px 0 4px 0;
  width: auto;
  border-color: #000;
}

nav {
  max-width: 828px;
  min-width: 828px;
  padding:0;
  margin:0;
  text-align: center;
  font-size: .9em;
}

nav li {
  display: inline-block;
  text-align: center;
  padding:0;
  margin:0;
  color: #c0c0c0;
}

nav li a {
  color: #000;
  text-decoration: none;
  padding:0;
  margin:0;
}

nav li a h2 {
  font-size: 1em;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 3px;
  padding-bottom: 1px;
  margin:0 0 0 0;
}

nav li a:hover {
  color: #91342f;
  text-decoration: none;
}


/* body */


.col-8 {
  margin: 0;
  padding: 0;
}

.slideImg {
  margin: 16px 0 0 0;
  padding: 0;
  display: block;
}

.fiveseveneight {
  width: 578px;
  
}

body div {
  margin: 20px 0 0 0;
  padding: 0;

}

body p {
  font-size: .8em;
}

.email{
  color: #91342f;
  text-decoration: underline;
}
.email:hover{
  color: #91342f;
}

body h2 {
  font-size: 1.2em;
}

aside {
  background-color: #923530;
  display: inline;
  float: right;
  width: 25%;
  height: 360px;
  margin: 0 92px 0 0;
  padding: 16px;
  color: #eee;
  font-size: 0.8em;
}


aside hr {
  border-color: #eee;
}

.contact {
  display: block;
  float: right;
  margin: 20px 140px 0 0;
  padding: 0;
  line-height: 0;
  font-size: .85em;

}

/* footer */

footer hr {
  padding:0;
  margin:16px 0 0 0;
  width: auto;
  border-color: #000;
}

footer {
  color: #c0c0c0;
  text-align: center;
}

footer p {
  padding: 1em 0 1em 0;
  text-align: center;
  font-size: .6em;
  display: inline;
  padding: 0 0.4em 0 0.4em;

}



footer a {
  color: #000;
  display: inline;
}

footer a:hover {
  color: #91342f;
  text-decoration: none;

}
.foot-pad {
  padding: 12px;
}
.legal {
  color: #c0c0c0;
}
